<h1>New Flavour</h1>

<a href="/flavours">Go back</a>

<form action="/flavours" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="flavour_name" name="flavour[name]" />
  </div>
  <input type="submit" value="Create Flavour!" />
</form>
