<h1><%= @flavour.name %></h1>

<% if @flavour.sundaes.length > 0 %>
  <p>I belong to these sundaes:</p>
  <ul>
    <% @flavour.sundaes.each do |sundae| %>
      <li><a href="/sundaes/<%= sundae.id %>"><%= sundae.name %></a></li>
    <% end %>
  </ul>
<% end %>

<a href="/flavours">All Flavours</a>
<a href="/flavours/<%= @flavour.id %>/edit">Edit this flavour</a>
