<h1>New Restaurant</h1>

<a href="/restaurants">cancel</a>
<form action="/restaurants" method="post" >
  <div>
    <label for="name">Name:</label>
    <input type="text" name="restaurant[name]">
  </div>
  <div >
    <label for="email">Neighborhood:</label>
    <input type="text" name="restaurant[neighborhood]">
  </div>
  <div >
    <input type="submit" value="Create Restaurant">
  </div>
</form>
