<h1><%= @restaurant.name %></h1>
<p>In <%= @restaurant.neighborhood %></p>

<a href="/restaurants">Go to all restaurants</a>
<a href="/restaurants/<%= @restaurant.id %>/edit">Edit this restaurant</a>
